@page "/"
@using Booking.BussinesLogic.Handlers.GetHotelsList
@using System.ComponentModel.DataAnnotations
@using System.Threading
@using Booking.DataLayer
@using Booking.DataLayer.Entities
@using Booking.DataLayer.Extensions
@using MediatR
@using Microsoft.EntityFrameworkCore

@inject IMediator _mediator;
@inject BookingDbContext _dbContext;
@inject NavigationManager _navigationManager;

<body>
<div class="intro">
    <div class="container">
        <div class="intro-inner">
            <h2 class="intro-subtitle">Creative tools</h2>
            <h1 class="intro-title">Welcome to TravelGo</h1>
            <a href="#hotelsForm" class="but-learn">К поиску отелей</a>
        </div><!-- /intro-inner -->
        <div class="intro-slider">
            <div class="slider-item active"><b class="slider-number">01</b> Россия</div>
            <div class="slider-item"><b class="slider-number">02</b> ОАЭ</div>
            <div class="slider-item"><b class="slider-number">03</b> Кипр</div>
            <div class="slider-item"><b class="slider-number">04</b> Бали</div>
        </div><!-- /intro-slider -->
    </div><!-- /container -->
</div> <!-- /intro -->


<section class="section">
    <div class="container">


        <div class="section-header">
            <h3 class="section-subtitle">Чем мы занимаемся?</h3>
            <h2 class="section-title">История о нас</h2>
        </div>
        <div class="section-text">
            <p>TravelGo - быстрорастущая компания, которая помогает огромному количеству людей найти отель в командировках, семейных поездках, на отдыхе и много еще где...</p>
        </div>


        <div class="about">
            <div class="about-item">
                <div class="about-img">
                    <img src="img/computer.png" alt="Computer">
                </div>
                <div class="about-text-pic">
                    <div class="about-text">Командировка</div>
                    <div class="about-pic">
                        <img src="img/USERS.png" alt="">
                    </div>
                </div>
            </div>
            <div class="about-item">
                <div class="about-img">
                    <img src="img/phone.png" alt="Phone">
                </div>
                <div class="about-text-pic">
                    <div class="about-text">Семейные поездки</div>
                    <div class="about-pic">
                        <img src="img/USERS.png" alt="">
                    </div>
                </div>
            </div>
            <div class="about-item">
                <div class="about-img">
                    <img src="img/table.png" alt="Table">
                </div>
                <div class="about-text-pic">
                    <div class="about-text">Отдых</div>
                    <div class="about-pic">
                        <img src="img/USERS.png" alt="">
                    </div>
                </div><!--/about-text-pic  -->
            </div><!-- /about-item -->
        </div><!-- /about -->
    </div><!-- /container -->
</section>

<div class="statistics">
    <div class="container">
        <div class="stat">
            <div class="stat-item">
                <div class="stat-count">15000+</div>
                <div class="stat-text">Счастливых клиентов</div>
            </div>
            <div class="stat-item">
                <div class="stat-count">568</div>
                <div class="stat-text">Клиентов прямо сейчас ищут отель</div>
            </div>
            <div class="stat-item">
                <div class="stat-count">5</div>
                <div class="stat-text">Наград в сфере букинг года</div>
            </div>
            <div class="stat-item">
                <div class="stat-count">10+</div>
                <div class="stat-text">Лет в сфере букинга</div>
            </div>
            <div class="stat-item">
                <div class="stat-count">346</div>
                <div class="stat-text">Сотрудников в нашей компании</div>
            </div>
        </div><!-- /stat -->
    </div><!-- /container -->
</div><!-- /statistics -->


<div class="section">
    <div class="container">
        <div class="section-header">
            <h3 class="section-subtitle">We work with</h3>
            <h2 class="section-title">Amazing Services</h2>
        </div><!-- /section-header -->
        <div class="section-objects">
            <div class="sec-obj1">
                <div class="obj">
                    <div class="obj-pic">
                        <img src="img/sec-obj/1.png" alt="">
                    </div>
                    <div class="sec-text">
                        <div class="sec-text1">Photography</div>
                        <div class="sec-text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                    </div>
                </div>
                <div class="obj">
                    <div class="obj-pic">
                        <img src="img/sec-obj/2.png" alt="">
                    </div>
                    <div class="sec-text">
                        <div class="sec-text1">Web design</div>
                        <div class="sec-text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                    </div>
                </div>
                <div class="obj">
                    <div class="obj-pic">
                        <img src="img/sec-obj/3.png" alt="">
                    </div>
                    <div class="sec-text">
                        <div class="sec-text1">Creativity</div>
                        <div class="sec-text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                    </div>
                </div>
            </div><!-- /sec-obj1 -->


            <div class="sec-obj1">
                <div class="obj">
                    <div class="obj-pic">
                        <img src="img/sec-obj/4.png" alt="">
                    </div>
                    <div class="sec-text">
                        <div class="sec-text1">SEO</div>
                        <div class="sec-text2">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                    </div>
                </div>
                <div class="obj">
                    <div class="obj-pic">
                        <img src="img/sec-obj/5.png" alt="">
                    </div>
                    <div class="sec-text">
                        <div class="sec-text1">CSS/HTML</div>
                        <div class="sec-text2">Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</div>
                    </div>
                </div>
                <div class="obj">
                    <div class="obj-pic">
                        <img src="img/sec-obj/6.png" alt="">
                    </div>
                    <div class="sec-text">
                        <div class="sec-text1">Digital</div>
                        <div class="sec-text2">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                    </div>
                </div>
            </div><!-- /sec-obj1 -->
        </div>
    </div><!-- /container -->
</div><!-- /section -->


<div class="section section--device">
    <div class="container">
        <div class="section-header">
            <h3 class="section-subtitle">For all devices</h3>
            <h2 class="section-title">Unique design</h2>
        </div><!-- /section-header -->
        <div class="devices">
            <img src="img/Devices/ipad.png" alt="" class="devices__item devices__item--ipad">
            <img src="img/Devices/Phone.png" alt="" class="devices__item devices__item--iphone">
        </div><!-- /devices -->
    </div><!-- /container -->
</div><!-- /section -->

<section class="section">
    <div class="container">


        <div class="section-header">
            <h3 class="section-subtitle">Поиск</h3>
            <h2 class="section-title">Найти отель</h2>
        </div>
        <div class="section-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>

        @if (_request == null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else
        {
            <RadzenTemplateForm id="hotelsForm" Data="@_request" Submit="@((GetHotelsListRequest args) => { Submit(args); })">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <RadzenFieldset Text="Форма поиска">
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Город проживания"/>
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenDropDown @bind-Value="_request.City" AllowClear="true" Placeholder="Выберите город" Data="@citiesList" style="width: 100%;">
                                        </RadzenDropDown>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Тип комнаты"/>
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenDropDown @bind-Value="_request.Type" AllowClear="true" Placeholder="Выберите город" Data="@roomTypes" style="width: 100%;">
                                        </RadzenDropDown>
                                    </div>
                                </div>
                                <div class="row">
                                 <div class="col-lg-3 p-3">
                                     <RadzenCard>
                                         <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Количество мест</RadzenText>
                                         <RadzenNumeric  @bind-Value="_request.Seats" TValue="int" Min="1" Max="5" Class="w-100" />
                                     </RadzenCard>
                                 </div>
                              </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Дата начала"/>
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenDatePicker Min="DateTime.Today" style="width: 100%;" Name="StartDate" @bind-Value="_request.StartDate"/>
                                    </div>
                                </div>
                              <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Дата конца"/>
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenDatePicker Min="_request.StartDate" style="width: 100%;" Name="ExpiryDate" @bind-Value="_request.EndDate"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 align-items-center d-flex">
                                        <RadzenLabel Text="Cardholder"/>
                                    </div>
                                    <div class="col-md-8">
                                        <RadzenTextBox style="width: 100%;" Name="CardHolder"/>
                                    </div>
                                </div>
                            </RadzenFieldset>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Найти"/>
                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel"/>
                        </div>
                    </div>
                </div>
            </RadzenTemplateForm>
        }

    </div><!-- /container -->
</section>


</body>


@code
{
    private List<string> roomTypes = Enum.GetNames(typeof(RoomType)).ToList();

    private GetHotelsListRequest _request = new GetHotelsListRequest()
    {
        StartDate = DateTime.Now,
        EndDate = DateTime.Now.AddDays(1)
    };

    private readonly List<Hotel> _hotels;

    [Required]
    private string City { get; set; }

    [Required]
    private DateTime StartDate { get; set; } = DateTime.Now;

    [Required]
    private DateTime EndDate { get; set; } = DateTime.Now;

    private List<string> citiesList;

    private void SendForm()
    {
        var request = new GetHotelsListRequest()
        {
            City = City,
            EndDate = EndDate,
            StartDate = StartDate,
            Seats = 4,
            Type = RoomType.Comfort.ToString()
        };

        _mediator.Send(request, CancellationToken.None);

        _navigationManager.NavigateTo("hotels");
    }

    protected override async Task OnInitializedAsync()
    {
        citiesList = await _dbContext.Cities
            .OnlyActive()
            .Select(x => x.Name)
            .ToListAsync();
    }

    void ButtonClicked()
    {
        _navigationManager.NavigateTo("hotels");
    }

    private void Submit(GetHotelsListRequest args)
    {
        _navigationManager.NavigateTo($"hotels/{_request.City}/{_request.Seats}/{_request.StartDate}/{_request.EndDate}");
    }

    private void Cancel()
    {
        throw new NotImplementedException();
    }
}